# bootstrapped ignores
*_bootstrapper.sh
.idea/*
.orig
/*venv/

# ignoring the main binary built for the Go function
/functions/go/main

#ignore node modules in deploy folder
/deploy/node_modules

#ignore cdk out
/deploy/cdk.out

#ignore maven target content
/functions/src/hello_world/target/